<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> State</strong>
                </div>

                <div class="panel-body">
                    <!--DEmo###############################################-->

                    <!--DEmo###############################################-->
                    <div class="msg">
                        <!--{{state}}-->
                    </div>
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">State</label>
                            <input type="text" class="form-control" ng-model="state.name" placeholder="State">
                        </div>
<!--                        {{country}}-->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country</label>
                            <div>
                                <select  ng-model="state.country">
                                    <option value="" selected>Select Country</option>
                                    <option ng-repeat="value in country" value="{{value.id}}">{{value.name}}</option>
<!--
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
-->
                                </select>
                            </div>
                        </div>
                        <button type="submit" ng-click="create(state)" class="btn btn-success btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>