<div class="page">

    <div class="row">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>mpconstituency</strong>
                
                </div>
                
                <div class="panel-body">
                   
                   <!-- {{mpconstituency}}-->
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                       <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="mpconstituency.name" placeholder="Text">
                        </div>
                      
                        <button type="submit" ng-click="delete()" class="btn btn-success btn-primary">Confirm Delete</button>
                       <a href="#/mpconstituency"> <button type="submit" class="btn btn-success btn-primary">Cancel</button></a>
                    </form>      
                    
            </section>
        </div>
        </div>
    </div>