<section class="panel panel-default">
    <div class="panel-heading">Store Subnavigation</div>

    <div class="panel-body">
        <div class="">
            <ol class="btn btn-default btn-block" ng-click="changepageview(1);">Edit Store</ol>
            <ol class="btn btn-default btn-block" ng-click="changepageview(2);">Rating</ol>
            <ol class="btn btn-default btn-block" ng-click="changepageview(3);">Call Rating</ol>
            <ol class="btn btn-default btn-block" ng-click="changepageview(4);">Service Report</ol>
        </div>
    </div>

</section>