<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Image</strong></div>
                
                <div class="panel-body">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"><!-- {{image}} --></div>       
                    {{image}}
<!--
                    <form action="http://emahapolitician.in/politician/politician/index.php/upload/create" method="post"
enctype="multipart/form-data">
--><form action="http://localhost/politicianbackend/politician/index.php/image/create" method="post"
enctype="multipart/form-data">
<label class="item item-input">
                    <textarea placeholder="Share with us" name="text"></textarea>
                </label>
<label for="file">Filename:</label>
<input type="file" name="file" id="file"><br>
<input type="submit" name="submit" value="Submit">
</form>    
                </div>
            </section>
        </div>
        </div>
    </div>