<div class="page">

    <div class="row">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>User</strong>

                </div>

                <div class="panel-body">

                    {{user}}
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
                            <input type="hidden" class="form-control" ng-model="user.id" placeholder="ID">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Enter email">
                            <!--
                            <input  type="hidden"
                                            class="form-control"
                                            required
                                            name="type_something"
                                            data-ng-trim='false'
                                            ng-model="user.password"
                                    >           
-->

                        </div>

                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" required name="type_something" data-ng-trim='false' ng-model="user.password">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Contact</label>
                            <input type="text" class="form-control" ng-model="user.contact" placeholder="Contact">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Poosh-woosh Id</label>
                            <input type="text" class="form-control" ng-model="user.pooshwooshid" placeholder="Poosh-woosh Id">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Pin</label>
                            <input type="text" class="form-control" ng-model="user.pin" placeholder="Pin">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Gender</label>
                            <div>
                                <label class="ui-radio">
                                    <input name="gender" ng-model="user.gender" type="radio" value="male"><span>Male</span>
                                </label>
                                <label class="ui-radio">
                                    <input name="gender" ng-model="user.gender" type="radio" value="female" checked><span>Female</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">pincode</label>
                            <div>
                                <select ng-model="user.pincode">
                                    <option value="">Select Pincode</option>
                                    <option ng-repeat="value in pincode" value="{{value.id}}">{{value.name}}</option>
                                    <!--
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
-->
                                </select>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label for="exampleInputEmail1">User Location</label>
                            <div ng-repeat="userloc in userlocation" style="padding:10px;border:1px solid;">
                                <input type="text" ng-model="userloc.name">
                                <input type="text" ng-model="userloc.id">
                                <textarea type="text" ng-model="userloc.address"></textarea>
                                <select ng-model="userloc.pincode">
                                    <option value="">Select Pincode</option>
                                    <option ng-repeat="value in pincode" value="{{value.id}}">{{value.name}}</option>
                                    
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>

                                </select>

                            </div>
                        </div>
-->

                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input type="text" class="form-control" ng-model="user.address" placeholder="Address">
                        </div>
{{user.dob}}    
<!--            {{user.dob | date:'dd-MM-yyyy'}}-->
                        <div class="form-group">
                            <label for="exampleInputEmail1">dob</label>
                            {{'1432543616054'|date}}
                            <input type="date" class="form-control" ng-model="user.dob" placeholder="dob">
<!--                            <input ui-date-format="dd-MM-yyyy" ng-model="user.dob" placeholder="dob">-->
                       
                        </div>



                        <div class="form-group">
                            <label for="exampleInputEmail1">AccessLevel</label>
                            <div>
                                <label class="ui-radio">
                                    <input name="radio1" ng-model="user.accesslevel" type="radio" value="admin"><span>Admin</span>
                                </label>
                                <label class="ui-radio">
                                    <input name="radio1" ng-model="user.accesslevel" type="radio" value="store" checked><span>store</span>
                                </label>
                                <label class="ui-radio">
                                    <input name="radio1" ng-model="user.accesslevel" type="radio" value="user"><span>user</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" ng-click="update(user)" class="btn btn-primary">Update</button>
                    </form>

            </section>
            </div>
        </div>
    </div>