<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Membership</strong></div>
                
                <div class="panel-body">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"> </div>       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">mpConstituency</label>
                            <div>
                                <select  ng-model="membership.mpconstituency">
                                    <option value="" selected>Select Position</option>
                                    <option value="1">Mumbai</option>
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">mlaConstituency</label>
                            <div>
                                <select  ng-model="membership.mlaconstituency">
                                    <option value="" selected>Select Position</option>
                                    <option value="1">Mumbai</option>
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Area</label>
                            <input type="text" class="form-control" ng-model="membership.area" placeholder="Title">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Pollingcenter</label>
                            <input type="text" class="form-control" ng-model="membership.pollingcenter" placeholder="Text">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Position</label>
                            <input type="text" class="form-control" ng-model="membership.position" placeholder="Text">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fullname</label>
                            <input type="text" class="form-control" ng-model="membership.fullname" placeholder="Title">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Birthday</label>
                            <input type="text" class="form-control" ng-model="membership.birthday" placeholder="Text">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input type="text" class="form-control" ng-model="membership.address" placeholder="Text">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Village</label>
                            <input type="text" class="form-control" ng-model="membership.village" placeholder="Title">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Town</label>
                            <input type="text" class="form-control" ng-model="membership.town" placeholder="Text">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">District</label>
                            <input type="text" class="form-control" ng-model="membership.district" placeholder="Text">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone no</label>
                            <input type="text" class="form-control" ng-model="membership.phoneno" placeholder="Text">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" ng-model="membership.email" placeholder="Text">
                        </div>
                         <div class="form-group">
                            <label for="exampleInputEmail1">State</label>
                            <div>
                                <select  ng-model="membership.state">
                                    <option value="" selected>Select State</option>
                                    <option value="1">Mumbai</option>
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit"  ng-click="create(membership)" class="btn btn-success btn-primary">Submit</button>
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>