<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Notification</strong></div>
                
                <div class="panel-body">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"> <!--{{notification}} --></div>       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">user</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="notification.user">
                                    <option value="" selected>Select user</option>
                                    <option ng-repeat="value in user" value="{{value.id}}">{{value.name}}</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Content</label>
<!--                            <input type="text" class="form-control" ng-model="store.smsformat" placeholder="SMS Format">-->
                            <textarea type="text" ng-model="notification.content" style="margin: 0px; width: 693px; height: 88px;"></textarea>
                        </div>
                        
                      
                        <div class="form-group">
                            <label for="exampleInputEmail1">Type</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="notification.type">
                                    <option value="" selected>Select Type</option>
<!--                                    <option ng-repeat="value in brand" value="{{value.id}}">{{value.name}}</option>-->
                                    <option value="near expiry 30days">near expiry 30days</option>
                                    <option value="near expiry 15 days">near expiry 15 days</option>
                                    <option value="near expiry 7 days">near expiry 7 days</option>
                                    <option value="expired">expired</option>
                                    <option value="transfer">transfer</option>
                                    <option value="dealer added product">dealer added product</option>
                                    <option value="broadcast">broadcast</option>
                                    <option value="dealer message">dealer message</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <div><span class="ui-select">
                                <select  ng-model="notification.status">
                                    <option value="" selected>Select Status</option>
<!--                                    <option ng-repeat="value in brand" value="{{value.id}}">{{value.name}}</option>-->
                                    <option value="Enable">Enable</option>
                                    <option value="Disable">Disable</option>
                                </select></span>
                            </div>
                        </div>
                        
                        
                        <button type="submit"  ng-click="create(notification)" class="btn btn-success btn-primary">Submit</button>
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>