<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Notification</strong></div>
                
                <div class="panel-body">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"> <!--{{notification}} --></div>       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Text</label>
                            <input type="text" class="form-control" ng-model="notification.text" placeholder="Text">
                        </div>
                      
                        
                        <button type="submit"  ng-click="create(notification)" class="btn btn-success btn-primary">Submit</button>
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>