<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> warranty</strong>
                </div>

                <div class="panel-body">
                    <!--DEmo###############################################-->

                    <!--DEmo###############################################-->
                    <div class="msg">
                        <!--{{warranty}}-->
                    </div>
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">period</label>
                            <input type="text" class="form-control" ng-model="warranty.period" placeholder="period">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Expiry</label>
                            <input type="date" class="form-control" ng-model="warranty.expiry" placeholder="Expiry">
                        </div>

                       <div class="form-group">
                            <label for="exampleInputEmail1">Type</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="warranty.type">
                                    <option value="" selected>Select Type</option>
                                    <option value="onsite">onsite</option>
                                    <option value="offsite">offsite</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                       <div class="form-group">
                            <label for="exampleInputEmail1">Is Covered</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="warranty.iscovered">
                                    <option value="" selected>Select Is Covered</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                       <div class="form-group">
                            <label for="exampleInputEmail1">Is Warranty Or AMC</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="warranty.iswarrentyoramc">
                                    <option value="" selected>Select Is Warranty Or AMC</option>
                                    <option value="warranty">warranty</option>
                                    <option value="amc">amc</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">purchasemonth</label>
                            <input type="text" class="form-control" ng-model="warranty.purchasemonth" placeholder="purchasemonth">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">purchaseyear</label>
                            <input type="text" class="form-control" ng-model="warranty.purchaseyear" placeholder="purchaseyear">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">purchasedate</label>
                            <input type="text" class="form-control" ng-model="warranty.purchasedate" placeholder="purchasedate">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">billno</label>
                            <input type="text" class="form-control" ng-model="warranty.billno" placeholder="billno">
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Store</label>
                            <div><span class="ui-select">
                                <select  ng-model="warranty.store">
                                    <option value="" selected>Select Store</option>
                                    <option ng-repeat="value in store" value="{{value.id}}">{{value.name}}</option>
<!--
                                    <option value="2">Pune</option>
                                    <option value="3">Delhi</option>
-->
                                </select>
                                </span>
                            </div>
                        </div>
                       <div class="form-group">
                            <label for="exampleInputEmail1">Is Includes</label>
                            <div>
                            <div><span class="ui-select">
                                <select  ng-model="warranty.includes">
                                    <option value="" selected>Select Is Includes</option>
                                    <option value="visit free">visit free</option>
                                    <option value="service">service</option>
                                    <option value="parts">parts</option>
                                    <option value="other">other</option>
                                </select>
                                </span>
                            </div>
                        </div>
                        </div>
                        
                        <button type="submit" ng-click="create(warranty)" class="btn btn-success btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>